/* COMMON RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  padding-top : 20px;
}

.row{
  width: 100%;
}
[class*="col-"] {
  margin: 0 auto;
  text-align: center;
}
.box{
  width: 100%;
  padding: 20px;
  margin: 20px auto;
}
#steps{
  background-color: lightgray;

}

#why img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 20px;
}

/* MEDIA QUERIES */
}@media screen and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 992px){

}

@media screen and (min-width: 993px){
  img{
    width: auto;
    height: 200px;
    margin: 0 auto;
  }
}
